<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Language Translator</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>

  <body>
    
    <div class="container">
        <h1 align="center"><b>Welcome to Linguistik Translator!</b></h1>
    <div class="wrapper">
        <div style="display:inline-flexbox;">
            <a href="/text" style="color: inherit; text-decoration: none;"><button>Translate by Entering Text</button></a>
            <a href="/files" style="color: inherit; text-decoration: none;"><button>Translate by Uploading Files</button></a>
        </div>
      </div>
    </div>

  </body>
</html>
